/*********
 * Table *
 *********/

$box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);

.beautify-table {
  &.custom {
    padding-top: 75px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;

    .column1 {
      width: 20%;
    }

    .column2 {
      width: 40%;

      &.fill {
        width: 80%;
      }
    }

    .column3 {
      width: 40%;
    }

    th {
      font-size: 1.75rem;
      color: $light;
      line-height: 2.4;
      background-color: $primary;
    }

    td {
      font-size: 1.5rem;
      color: $dark;
      line-height: 2.4;
    }

    .beautify-table-body {
      background-color: $light;

      tr:nth-child(2n) {
        background-color: #eee;
      }
    }
  }
}
